h3, h2, h4{
    font-family: sans-serif;
    margin: 0;
    color: green;
    text-align: center;
}
 .example, #buyProductId{
  padding: 6px;
  font-size: 12px;
  border: 1px solid grey;
  float: fixed;
  width: 30%;
  background: white;
}
.modal {
  display: none;
  position: fixed;
  float: left; 
  padding-top: 50px;
  left: 0; 
  top: 0;
  width: 100%;
  height: 100%; 
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  position: relative; 
  background-color: white;
  padding: 20px; 
  margin: auto; 
  width: 35%;  
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}
.close-btn {
  float: right; 
  color: lightgray; 
  font-size: 24px;  
  font-weight: bold;
  cursor: pointer;
  width:25px;
}
.close-btn:hover {
  color: black;
}
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
button {
  width: 25%;
  background-color: #4CAF50;
  color: white;
  padding: 10px 8px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:active {
    background-color: rgb(0, 81, 125);
  }

button:hover {
    opacity: 0.7;
} 
html { 
  background: url(daa.jpg) no-repeat center center fixed;
  font-family: 'Courgette', cursive;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#main{
       width: 60vw;
       background-color: rgb(4, 166, 255);
       height: 90vh;
       margin: 0 auto;
       border: 2px white solid;
        }
 #left{
       width: 30vw;
       height: 90%;
       margin: 0 auto; 
       float: left;
       border: 2px white solid;
       background-color: rgb(245, 239, 239);
        }
/* Add padding to containers */
.container {
  padding: 10px;
  background-color: white;
}
#center { 
       width: 300px;
       height: 450px;
       margin: 0 auto;
       border: 2px white solid;
       background-color: rgb(4, 166, 255);
        }
/* Full-width input fields */
#name, #deliveryAddress, #email, #addProductId, #addProductName, #addProductCategory, #addProductPrice, #addProductDescription {	
  width: 100%;	
  padding: 8px;	
  margin: 5px 0 12px 0;	
  display: inline-block;	
  border: none;	
  background: #f1f1f1;	
  background-color: #ddd;	
  outline: none;	
}
/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 10px;
}
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 12px;
  margin: 4px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 0.8;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}
.container {
  padding: 16px;
  background-color: white;
}
#center { 
       width: 400px;
       height: 650px;
       margin: 0 auto;
       border: 2px white solid;
       background-color: rgb(245, 239, 239);
        }
 #content, .content {
    width: 95%;
    height: 80px;
    font-size: 15px;
    border: 2px solid rgb(199, 194, 194);
    background-color: white;
   }
   .message-box {
    background-color: rgb(70, 190, 255);
    border-radius: 10px;
    margin: 10px 0;
    padding: 5px;
}
